@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media screen and (max-width: 721px) {
  body {
    overflow-x: hidden;
  }
}
